{% extends 'base.html' %}

{% block header %}
    <h1>{{recipe.name}}</h1>
{% endblock %}

{% block body %}
    <div>
        <img src={{recipe.image}} alt={{recipe.image}}>
        <h2> Infos </h2>
        <ul>
            <li>Difficulté: {{recipe.difficulty}}</li>
            {% if recipe.rate%}
            <li>Note: {{recipe.rate}}/5</li>
            {% endif %}
            <li>Budget: {{recipe.budget}}</li>
            <li>Temps de préparation: {{recipe.prep_time}}</li>
            <li>Temps de cuisson: {{recipe.cook_time}}</li>

        </ul>
        <h2> Ingrédients</h2>
         <ul>
             {% for ingredient in recipe.ingredients%}
                <li style="color:{{'green' if ingredient.have_it else 'red'}};">{{ingredient.name}}</li>
             {% endfor %}
         </ul>
    </div>
{% endblock %}