{% extends 'base.html' %}

{% block header %}
<div class="row">
    <div class="col-12">
        <h1>Qu'est-ce qu'on mange ce soir?</h1>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-6">
        <ul class="list-group">
        </ul>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <p> Saisissez les ingrédients principaux en premier pour une meilleur recherche</p>
                <p> Saisissez aux minimum 3 ingrédients</p>
            </div>
            <div class="col-12">
                <input name="user_ingredient" placeholder="ingredient">
            </div>
            <div class="col-2">
                <button name="add_ingredient" type="button" class="btn btn-primary">Ajouter</button>
            </div>
            <div class="col-6">
                <p id="laoding_msg"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action={{url_for('recipes')}} method="post">
                    <input type="hidden" name="ingredients">
                    <button name="search_recipe" type="submit" class="btn btn-success">Rechercher des recettes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var btn_add_ingredient = document.getElementsByName('add_ingredient')[0];
    var btn_search_recipes = document.getElementsByName('search_recipe')[0];
    var list = document.getElementsByClassName('list-group')[0];
    var loading_message = document.getElementById("laoding_msg");

    btn_add_ingredient.addEventListener('click', updateBtn);
    btn_search_recipes.addEventListener('click', append_list);
    btn_search_recipes.disabled = true;

    function append_list() {
        form = document.getElementsByTagName('form')[0];
        ingredients = Array.from(document.getElementsByTagName('li')).map(x => (x.textContent));
        input = document.getElementsByName('ingredients')[0]
        input.value = ingredients
    }

    function updateBtn() {
      input = document.getElementsByName('user_ingredient')[0];
      li = document.createElement('li');
      li.className = "list-group-item";
      li.textContent = input.value;
      input.value = "";
      list.appendChild(li);
      inputs = Array.from(document.getElementsByTagName('li'));
      ingredients = JSON.stringify({data: inputs.map(x => (x.textContent))});
      if (inputs.length >= 3 ) send_user_input(ingredients);
    }

    function send_user_input(ingredients) {
         httpRequest = new XMLHttpRequest();
         btn_search_recipes.disabled = true;
         btn_add_ingredient.disabled = true;
         loading_message.textContent = "calcul des associaitons en cours"
         httpRequest.open('POST', 'http://localhost:5000/association');
         httpRequest.setRequestHeader('Content-Type', 'application/json');
         httpRequest.onreadystatechange = function () {
            if(httpRequest.readyState === 4 && httpRequest.status === 200) {
            btn_search_recipes.disabled = false;
            btn_add_ingredient.disabled = false;
            loading_message.textContent = "";
            }
          };
         httpRequest.send(ingredients);


    }
</script>

{% endblock %}
