{% extends 'base.html' %}

{% block header %}
    <div class="row">
        {% if recipes %}
        <h1 class="display-5">{{recipes|length}} Recettes trouvées contenant une association de
        {% else %}
        <h1 class="display-5">Pas de recette trouvé contenant
         {% endif %}
            {% for key in ingredients %}
                {{key}}{{ "," if not loop.last }}
            {% endfor%}
        </h1>
    </h1>
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-8">
            {% if not recipes %}
            <a href="{{url_for('search')}}">Refaire une nouvelle recherche</a>
                {% endif%}
        </div>
        <div class="col-8">
            <ul class="list-group">
            {% for recipe in recipes %}
                <li class="list-group-item">
                    <h3 class="text-center">{{recipe.recipe.name}}</h3>
                    <ul>
                        <li>pourcentage d'ingrédient disponible pour la recette : {{recipe.matching_score}}%</li>
                        <li>nombre d'ingrédient manquant : {{recipe.missing_ingredient|abs}}/{{recipe.recipe.ingredients|length}}</li>
                    </ul>
                    <form id="{{recipe.recipe.id}}" action={{url_for('details', recipe_id=recipe.recipe.id)}} method="POST" >
                        <input type="hidden" name='ingredients' value="{{recipe.confirmed_ingredient}}">
                    </form>
                    <button form="{{recipe.recipe.id}}" type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">détails de la recette</button>

                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}